SELECT COUNT(*) as total_events,
       MAX(created_at) as latest_event,
       COUNTIF(created_at > TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 1 HOUR)) as events_last_hour
FROM `epir-adk-agent-v2-48a86e6f.analytics_435783047.events_raw`
